/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#define DEFAULT 0
#define LEFT 1

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>



/ {

	keymap {
		compatible = "zmk,keymap";

		// This is a sample keymap intended to be replaced with your own
		base_layer {
			bindings = <
				&kp Q     &kp W     &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I     &kp O     &reset
				&kp A     &kp S     &kp D     &kp F     &kp G     &kp H     &kp J     &kp K     &kp L     &bt BT_CLR
				&kp Z     &kp X     &kp C     &kp V     &kp B     &kp N     &kp M     &kp COMMA &kp DOT   &bt BT_NXT
				                              &kp N1   &lt LEFT SPACE   &kp SPACE &kp ENTER
			>;
		};	
		base_layer2 {
			bindings = <
				&RESET    &kp W     &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I     &kp O     &reset
				&bt BT_CLR     &kp S     &kp D     &kp F     &kp G     &kp H     &kp J     &kp K     &kp L     &bt BT_CLR
				&bt BT_NXT     &kp X     &kp C     &kp V     &kp B     &kp N     &kp M     &kp COMMA &kp DOT   &bt BT_NXT
				                            &trans   &trans  &kp SPACE &kp ENTER
			>;
		};


	};
};